/* Custom styles for TAP Apps Platform */

path {
  fill: white;
}

.bslib-sidebar-layout > .collapse-toggle {
  background-color: rgb(52, 58, 64);
}

.proprietary-msg {
  color: #888;
  font-size: 0.95em;
  text-align: center;
  margin-top: 2.5rem;
}

.btn.btn-default, .btn.btn-primary {
  min-height: 45px;
  border-radius: 6px !important;
  display: flex;
  align-items: center;
  background: #35AAFF;
  border-color: #35AAFF;
}

a.btn.shiny-download-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.p, p {
  font-family: Nunito, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}